.container{
  position: absolute;
  top: 120px;
  height: 100%;
  width: 100%;
}
.carousel{
  position: relative;
  overflow: hidden;
}
img{
  max-width: 100%;
  width: 100%;
  height: 70vh;
  object-fit: cover;

  opacity: 0;
  transform: scale(.2);

  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;

}

img.loaded {
  opacity: 1;
  transform: scale(1);
}
.button_previous{
  position: absolute;
  top: 50%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 80px;
  font-weight: 100;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
}
.button_next{
  position: absolute;
  top: 50%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 80px;
  font-weight: 100;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
}
.dots_container{
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  background-color: transparent;
  z-index: 1;
}
.dot_item{
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;

}
.active{
  color: #ccc;
  font-size: 30px;

}