@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	z-index: 999;
}

nav .link {
	margin: 0 1rem;
	color: var(--textColor);
	padding-bottom: .5rem;
	text-decoration: none;
  position: relative;
  text-decoration: none;
}

nav .link::before,
nav .link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--textColor);
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

nav .link::before {
  left: 50%;
  transform: translateX(-50%);
}

nav .link::after {
  right: 50%;
  transform: translateX(50%);
}

nav .link:hover::before,
nav .link:hover::after {
  width: 100%; /* Ancho total que quieres para el borde inferior */
}

nav .link.active {
  position: relative;
  text-decoration: none;
}

nav .link.active::before,
nav .link.active::after {
  content: '';
  position: absolute;
  width: 100%; /* Ancho total del borde inferior */
  height: 2px;
  background-color: var(--textColor);
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

nav .link.active::before {
  left: 50%;
  transform: translateX(-50%);
}

nav .link.active::after {
  right: 50%;
  transform: translateX(50%);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}
.contact {	margin: 0 1rem;
	color: var(--textColor);
	padding-bottom: .5rem;
  text-decoration: none;
	padding: 1rem;
	border-radius: 25px;
	border: solid var(--textColor) 2px;
	transition: background-color 0.3s ease-in;
}


.active_contact,
.contact:hover {
	background-color: var(--textColor);
  color: var(--mainColor);
  transition: background-color 0.3s ease-in;
}


@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 0.5s ease-out;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav .link {
		font-size: 1rem;

	}
}
